@model IEnumerable<DemowithStoredProcedureJQuery.Models.selectsp_Result>

@{
    ViewBag.Title = "List of Employees";
}

<h2>List of Employees</h2>

<table class="table table-condensed" id="employeeTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                <a href="@Url.Action("Edit","Home", new { id=item.EmployeeNumber})" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Edit</a> |
                <a onclick="Delete(@item.EmployeeNumber)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i> Delete</a>
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink(" Create New", "Create",null, new { @class= "btn btn-default btn-sm glyphicon glyphicon-plus-sign" })
</p>

@section scripts {
<script>
        $.get("/Home/Index", null, function(data) {

    });

   

</script>

   
}
